openapi: 3.0.1
info:
  title: Controlplane Api ApiChangelog Role Mapper API
  description: API of the TARDIS control plane. With this API configuration connectivity between different Tardis instances in ensured
  contact:
    name: TARDIS
    url: https://developer.telekom.de/docs/src/tardis_customer_handbook/support/
    email: FMB_TARDIS_Support@telekom.de
  version: 1.0.0
  x-api-category: TARDIS
  x-vendor: false
servers:
- url: https://api.telekom.de/controlplane/v1
tags:
- name: Role Mapper
paths:
  /{realm}/groups/{id}/role-mappings:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get role mappings
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingsRepresentation'
  /{realm}/groups/{id}/role-mappings/realm:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get realm-level role mappings
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
    post:
      tags:
      - Role Mapper
      summary: Add realm-level role mappings to the user
      requestBody:
        description: Roles to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RoleRepresentation'
        required: true
      responses:
        2XX:
          description: success
    delete:
      tags:
      - Role Mapper
      summary: Delete realm-level role mappings
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RoleRepresentation'
        required: true
      responses:
        2XX:
          description: success
  /{realm}/groups/{id}/role-mappings/realm/available:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get realm-level roles that can be mapped
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
  /{realm}/groups/{id}/role-mappings/realm/composite:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get effective realm-level role mappings   This will recurse all composite roles to get the result.
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
  /{realm}/users/{id}/role-mappings:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      description: User id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get role mappings
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingsRepresentation'
  /{realm}/users/{id}/role-mappings/realm:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      description: User id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get realm-level role mappings
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
    post:
      tags:
      - Role Mapper
      summary: Add realm-level role mappings to the user
      requestBody:
        description: Roles to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RoleRepresentation'
        required: true
      responses:
        2XX:
          description: success
    delete:
      tags:
      - Role Mapper
      summary: Delete realm-level role mappings
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RoleRepresentation'
        required: true
      responses:
        2XX:
          description: success
  /{realm}/users/{id}/role-mappings/realm/available:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      description: User id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get realm-level roles that can be mapped
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
  /{realm}/users/{id}/role-mappings/realm/composite:
    parameters:
    - in: path
      name: realm
      description: realm name (not id!)
      required: true
      schema:
        type: string
      style: simple
    - in: path
      name: id
      description: User id
      required: true
      schema:
        type: string
      style: simple
    get:
      tags:
      - Role Mapper
      summary: Get effective realm-level role mappings   This will recurse all composite roles to get the result.
      responses:
        2XX:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleRepresentation'
components:
  schemas:
    MappingsRepresentation:
      type: object
      properties:
        clientMappings:
          type: object
          additionalProperties: true
        realmMappings:
          type: array
          items:
            $ref: '#/components/schemas/RoleRepresentation'
    RoleRepresentation:
      type: object
      properties:
        attributes:
          type: object
          additionalProperties: true
        clientRole:
          type: boolean
        composite:
          type: boolean
        composites:
          $ref: '#/components/schemas/RoleRepresentation-Composites'
        containerId:
          type: string
        description:
          type: string
        id:
          type: string
        name:
          type: string
    RoleRepresentation-Composites:
      type: object
      properties:
        client:
          type: object
          additionalProperties: true
        realm:
          type: array
          items:
            type: string
